* {
  margin: 0;
  padding: 0;
  background-color: transparent;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
  height: 100vh;
  background-image: linear-gradient(to left, #c6ffdd, #fbd786);
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 2fr 8fr 2fr;
  grid-template-areas:
    "header header header"
    "left middle right"
    "footer footer footer";
}

footer {
  grid-area: footer;
}
header {
  grid-area: header;
  font: 600 4rem "Balsamiq Sans", cursive;
  color: #f7797d;
  text-align: center;
  padding: 1.2% 0 0.5%;
}

.left-bar {
  grid-area: left;
  border-right: 2px solid #6b6b83;
}

.middle-bar {
  grid-area: middle;
}

.right-bar {
  grid-area: right;
  border-left: 2px solid #6b6b83;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10%;
  color: #6b6b83;
}

.sidebar p {
  font-size: 4rem;
}

.sidebar div {
  margin-top: 10%;
  font-size: 1.2rem;
}

.open-view,
.game-view {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  color: #6b6b83;
}

.classic-btn,
.difficult-btn,
.gohome-btn {
  padding: 2%;
  border: 2px solid #6b6b83;
  border-radius: 7px;
  box-shadow: 5px 5px 3px 2px rgb(0 0 0/0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  color: #6b6b83;
}

.fighters-box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.classic-view h2 {
  text-align: center;
}

.fighters-box img {
  width: 130px;
  height: 130px;
}

.fighters-box img:hover {
  border: 2px dashed #f7797d;
  border-radius: 20px;
}

.hidden {
  display: none;
}
